<h1>Projects</h1>
<ul>
  <li ng-repeat="project in projects">
    <a href="/projects/{{project.id}}">{{ project.thumbnail }}</a>
    </br>
    <a href="/projects/{{project.id}}">{{ project.title }}</a>
    <p>{{ project.caption }}
  </li>
</ul>
